#halaman {
    width:980px; margin:0  auto;
}

#header {
    height;10px;
    padding:10px;
    background-color:#CCCCCC;
}

#kiri {
    height:100px;
    padding:10px;
    background-color:#CCCCCCC;
    float:left;
    width:250px;
    margin-top:10px;
}

#kanan {
    height:100px;
    padding:10px;
    background-color:#CCCCCCC;
    float:right;
    width:250px;
    margin-top:10px;
}

#tengah {
    height;10px; padding:10px;
    background-color:#CCCCCCC;
    margin-top:10px;
}

#footer {
    clear:both; height:40px;
    padding:10px;
    background-color:#CCCCCCC;
    margin-top:10px;
}